@model Santiago.Web.Areas.Admin.ViewModels.PhotographCategory.AddPhotographCategoryViewModel

<div class="js-add-photograph-category-popup">
  @using (Html.BeginForm("CreatePhotographCategory", "PhotographCategory", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    @Html.AntiForgeryToken()
    @Html.EditorFor(x => x.Name, "PopupTextBox")
    @Html.EditorFor(x => x.Alias, "PopupTextBox")
    @Html.EditorFor(x => x.Order, "PopupTextBox")

    <div class="command-buttons-wrapper">
      <button class="command-button save-button" type="submit">Сохранить</button>
      <button class="command-button close-button" type="button">Закрыть</button>
    </div>
  }
</div>