@model Santiago.Web.Areas.Admin.ViewModels.User.ChangeUserPasswordViewModel

<div class="js-change-user-password-popup">
  @using (Html.BeginForm("ChangeUserPassword", "User", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
  {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.EditorFor(x => x.OldPassword, "PopupPassword")
    @Html.EditorFor(x => x.NewPassword, "PopupPassword")

    <div class="command-buttons-wrapper">
      <button class="command-button save-button" type="submit">Сохранить</button>
      <button class="command-button close-button" type="button">Закрыть</button>
    </div>
  }
</div>