@model bool?

@{
    var validationEnabled = (bool)(ViewData["Validation"] ?? true);
}

<div class="form-group js-editor" data-editor-type="log-in-checkbox">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="checkbox">
      <label>
        @Html.CheckBox("", Model.HasValue && Model.Value) @Html.DisplayNameFor(x => x)
      </label>
    </div>
    @if (validationEnabled)
    {
      <div class="validation-error-message-wrapper">
        @Html.ValidationMessageFor(x => x, null, new { @class = "validation-error-message" })
      </div>
    }
  </div>
</div>