@model string

@{
    var validationEnabled = (bool)(ViewData["Validation"] ?? true);
}

<div class="form-group js-editor" data-editor-type="log-in-password">
  @Html.LabelFor(x => x, new { @class = "col-sm-3 control-label" })
  <div class="col-sm-6">
    <div class="password-input-wrapper">
      @Html.PasswordFor(x => x, new { @class = "form-control password-input js-password-input", placeholder = ViewData.ModelMetadata.Watermark })
      <button class="button visibility-toggle-button js-visibility-toggle-button" title="Отобразить пароль" type="button"><i class="fa fa-eye fa-lg"></i></button>
    </div>

    @if (validationEnabled)
    {
      <div class="validation-error-message-wrapper">
        @Html.ValidationMessageFor(x => x, null, new { @class = "validation-error-message" })
      </div>
    }
  </div>
</div>