<div class="js-delete-page-popup">
  <p>Вы действительно хотите удалить страницу?</p>

  <div class="command-buttons-wrapper">
    <button class="command-button yes-button" type="button">Да</button>
    <button class="command-button no-button" type="button">Нет</button>
  </div>
</div>