<div class="js-select-main-page-popup">
  <div class="js-pages-data-table"></div>
  <div class="selected-data-table-row-info-wrapper">
    <span class="js-selected-main-page-info"></span>
    <button class="remove-button js-selected-main-page-remove-button"><i class="fa fa-times fa-lg"></i></button>
  </div>

  <div class="command-buttons-wrapper js-command-buttons">
    <button class="command-button save-button" type="submit">Сохранить</button>
    <button class="command-button close-button" type="button">Закрыть</button>
  </div>
</div>