<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SantiagoConnection" connectionString="Data Source=(local);Integrated Security=False;Connect Timeout=120;Initial Catalog=Santiago;User ID=Santiago;Password=SantiagoPassword_12345;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="LogDirectory" value="${basedir}/App_Data/Logs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <targets>
      <target name="ErrorLog" fileName="${LogDirectory}/Error log ${shortdate}.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </targets>
  </nlog>
  <applicationSettings>
    <Santiago.Web.Properties.Settings>
      <setting name="Environment" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Test</value>
      </setting>
    </Santiago.Web.Properties.Settings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>